/*
 * sistema de cores.
 */
.primary-color{
    -fx-background-color: #17b5c3;
    /*-fx-background-color: #00da5d;*/
}
.secondary-color{
    -fx-background-color: #000000b3;
}
.base-color{
    -fx-background-color: #fff;
}

.white-bg{
    -fx-background-color: #fff;
}
.tranp-bg{
    -fx-background-color: transparent;
}
.gray-bg{
    -fx-background-color: rgba(35, 35, 35, .3);
}

.blue-bg{
    -fx-background-color:linear-gradient(to bottom right, #00ff004d 0%, #0000ff80 50%, #ff00004d 100%);
}
.headers-color{
    -fx-background-color: rgba(35, 35, 35, .5);
}

/*
 * Efeito Sombra.
 */
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.3), 5,0,0,3);
}

/*
 * textField degsin
 */
.text-field:focused{
    -fx-border-color:#17b5c3;
    -fx-border-width:0px 0px 5px 0px;
}

.text-field{
    -fx-font-family: 'Berlin Sans FB';
    -fx-font-size: 14px;
}
/*
*/
.label{
    -fx-font-family: 'Berlin Sans FB';
}
.check-box{
    -fx-font-family: 'Berlin Sans FB';
}

.radio-button{
    -fx-font-family: 'Berlin Sans FB';
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    
}

.close-categoria{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.close:hover{
    -fx-background-color:#000000b3;
    /*-fx-background-radius: 0px 0px 10px 0px;*/
}

.close-categoria:hover{
    -fx-background-color:#000000b3;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#000000b3;
}
.hand-efect{
    -fx-cursor: hand;
}
.shadow-efect:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.8), 6,0,0,0);
}
.nav-btn{
    -fx-background-color: transparent;
    /*-fx-text-fill: #fff;*/
}

.nav-btn:hover{
    -fx-background-color: rgba(55, 55, 179, 0.25);
}

.btn-logout{
    -fx-background-color: rgba(55, 55, 179, 0.25);
}

.border-less {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}


.Squared-border{
    -fx-background-radius: 10px;
}
.text-squared-border{
    /*-fx-background-radius: 20px;*/
}
.border-radius{
    -fx-border-radius: 20px;
}


.top-Squared-border{
    -fx-background-radius: 10px 10px 0px 0px;
}
.bottom-Squared-border {
    -fx-background-radius: 0px 0px 10px 10px;
}
.rounded-btn{
    -fx-background-radius: 50%;
}
.red-bg{
    -fx-background-color: rgba(255, 0, 0, 1);
}

.table-view {
    -fx-border-color: #17b5c3;
    -fx-background-color: transparent;
    /*-fx-border-radius: 10px 10px 0px 0px;*/
    -fx-border-width: 3px;
    -fx-alignment: center;
}


.table-view .column-header-background{
    -fx-background-color: #17b5c3;
    /*-fx-background-radius: 10px 10px 0px 0px;*/
}

.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
/* Selected Row Styling */
.table-view .table-row-cell:selected {
    -fx-background-color: rgba(23, 180, 194, 0.5);
    -fx-text-fill: black;
}

.table-view .column-header .label{
    -fx-text-fill: #fff;
    /*-fx-font-family: 'Berlin Sans FB';*/
}
/* Row Styling */
/* Estilizando as células da tabela */
.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-font-family: 'Berlin Sans FB';
    
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
    -fx-background-color:  rgba(35, 35, 35, .5);
    -fx-background-insets: 6;
    -fx-background-radius: 20px;
}

/* Alternate Row Colors */
/*.table-row-cell:odd {
    -fx-background-color: #2b2b2b;
}

.table-row-cell:even {
    -fx-background-color: #1e1e1e;
}*/

/* Row Hover Effect */
/*.table-row-cell:hover {
    -fx-background-color: #eee;  Change color on hover 
    -fx-text-fill: #000000;
}*/



/* Add padding to row cells */
/*.table-row-cell {
    -fx-padding: 10px;
}*/

.tab-pane{
    -fx-border-color:#17b5c3;
    -fx-background-color: transparent;
    -fx-border-width: 3px;
}

.tab-pane .tab-header-background{
    -fx-background-color:#17b5c3;
    /*-fx-background-radius: 10px 10px 0px 0px;*/
}

.tab-pane .tab {
    -fx-background-color: #000000b3;
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-padding: 10px 155px 10px 155px;
    -fx-cursor: hand;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}






/* Base styling for TabPane */
/*.tab-pane {
    -fx-border-color: linear-gradient(to bottom right, #00ff004d 0%, #0000ff80 50%, #ff00004d 100%);
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
}*/

/* Tab Header Background */
/*.tab-pane .tab-header-background {
    -fx-background-color: linear-gradient(to bottom right, #00ff004d 0%, #0000ff80 50%, #ff00004d 100%);
    -fx-background-radius: 10px 10px 0px 0px;
}*/

/* Styling individual tabs */
/*.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-padding: 10px;  Padding inside tabs 
}*/


/* Selected tab styling */


/* Hover effect for tabs */
/*.tab-pane .tab:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);  Lighten on hover 
    -fx-border-radius: 10px;
}*/

/* Styling content inside the selected tab */
/*.tab-pane .tab-content-area {
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}*/

/* Styling label inside tabs */








.combo-box {
    -fx-font-size:14px;
    /*-fx-background-color: #f0f0f0;  Cor de fundo */
    /*-fx-border-color: #cccccc;  Cor da borda */
    /*-fx-border-radius: 5px;  Arredondar bordas */
    /*-fx-padding: 5px;  Preenchimento interno */
}

/* Estilo para o botão de drop-down */
.combo-box .arrow {
    /*-fx-background-color: #007bff;  Cor de fundo da seta */
    /*-fx-padding: 5px;  Preenchimento interno da seta */
}

/* Estilo para os itens do ComboBox */
.combo-box .list-cell {
    /*-fx-background-color: #ffffff;  Cor de fundo dos itens */
    /*-fx-text-fill: #333333;  Cor do texto dos itens */
    /*-fx-font-weight: bold;  Aplica bold ao texto dos itens */
}

/* Estilo para o item selecionado */
.combo-box .list-cell:filled:selected {
    /*-fx-background-color: #007bff;  Cor de fundo quando selecionado */
    /*-fx-text-fill: #ffffff;  Cor do texto quando selecionado */
    /*-fx-font-weight: bold;  Aplica bold ao item selecionado*/
}









.accordion {
    -fx-background-color: transparent;
    /*-fx-border-color: #cccccc;*/
    /*-fx-border-width: 2px;*/
    /*-fx-border-radius: 5px;*/
}

.titled-pane {
    /*-fx-background-color: transparent;*/
    /*-fx-text-fill: white;*/
    /*-fx-font-weight: bold;*/
    /*-fx-padding: 10px;*/
    /*-fx-border-color: #17b5c3;*/
    /*-fx-border-width: 0 0 1px 0;*/
}
.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    /*-fx-font-weight: bold;*/
    /*-fx-padding: 10px;*/
    /*-fx-border-color: #17b5c3;*/
    /*-fx-border-width: 0 0 1px 0;*/
}

.titled-pane > .content {
    -fx-background-color: transparent;
    /*-fx-padding: 10px;*/
}

.titled-pane:expanded > .title {
    /*-fx-background-color: linear-gradient(to bottom right, #00ff004d 0%, #0000ff80 50%, #ff00004d 100%);*/

}




.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Cor de fundo das barras de rolagem */
}

/* Estilo para os trilhos das barras de rolagem */
.scroll-pane .scroll-bar .thumb {
    -fx-background-color:  rgba(35, 35, 35, .5); /* Cor do 'thumb' da barra de rolagem */
    -fx-background-insets: 6;
    -fx-background-radius: 20px;    /* Raio das bordas do 'thumb' */
}

/* Estilizando o campo do DatePicker */
.date-picker {
    -fx-background-color: #17b5c3;
    /*-fx-border-color: #000000b3;*/
    /*-fx-border-radius: 5;*/
    /*-fx-background-radius: 5;*/
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
}

/* Estilizando a lista de datas (calendário) */
.date-picker .arrow,
.date-picker .spinner {
    -fx-background-color: #17b5c3;
}

.date-picker .text-field {
    -fx-background-color: #17b5c3;
    /*-fx-text-fill: #fff;*/
}

.date-picker-popup {
    -fx-background-color: #17b5c3;
    -fx-border-radius: 5;
}

